<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avenger.declare.sys.dao.mapper.LabelMapper">
  <resultMap id="BaseResultMap" type="com.avenger.declare.api.sys.entity.Label">
    <id column="label_id" jdbcType="VARCHAR" property="labelId" />
    <result column="label_photo_id" jdbcType="VARCHAR" property="labelPhotoId" />
    <result column="label_context" jdbcType="VARCHAR" property="labelContext" />
  </resultMap>
  <sql id="Base_Column_List">
    label_id, label_photo_id, label_context
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from label
    where label_id = #{labelId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.avenger.declare.api.sys.entity.Label">
    insert into label (label_id, label_photo_id, label_context
      )
    values (#{labelId,jdbcType=VARCHAR}, #{labelPhotoId,jdbcType=VARCHAR}, #{labelContext,jdbcType=VARCHAR}
      )
  </insert>
  <select id="getPhotoByLabelId" parameterType="java.lang.String" resultType="java.lang.String">
    select label_photo_id
    from label
    where label_id = #{labelId,jdbcType=VARCHAR}
  </select>
  <select id="getLabelByLabelId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from label
    where label_id = #{labelId,jdbcType=VARCHAR}
  </select>
  <select id="getLabelByLabelContext" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from label
    where label_context = #{labelContext,jdbcType=VARCHAR}
  </select>
  <update id="updateLabel" parameterType="com.avenger.declare.api.sys.entity.Label">
    update label
    <set>
    label_photo_id = #{labelPhotoId,jdbcType=VARCHAR},
    label_context = #{labelContext,jdbcType=VARCHAR},
    </set>
    where label_id = #{labelId,jdbcType=VARCHAR}
  </update>
</mapper>